/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// cskin tone color schemes for light theme
$cream-color:               #f2d399 !default;
$warm-cream-color:          #f8ebcd !default;
$brown-color:               #9b6c43 !default;
$dark-brown-color:          #5a392b !default;
$brick-red-color:           #a62d12 !default;
$muted-olive-color:         #b8b68f !default;
$muted-olive-color-light:   lighten($muted-olive-color, 2%);
$warm-beige-color:          #decca6 !default;

// contrastive color schemes for light theme
$primary-blue-color:       #0000C3 !default;
$accent-orange-color:      #FF6900 !default;
$pure-white-color:         #ffffff !default;
$light-gray-color:         #e8e8e8 !default;
$deep-charcoal-color:      #1c1c1d !default;


$bright-green-color:        #0CF25D !default;

// Theme colors
$code-bg-color-light:     rgba($brick-red-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;


